
body{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el cuerpo */
    justify-content: center; /* Centra horizontalmente los elementos en el cuerpo */
}


.contenedor{
    text-align: center; 
    height: 350px;
    width: 900px;
    margin: 20px auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;

    box-shadow: 2px 6px 16px 9px rgb(235 66 117 / 10%);
    border-radius: 20px;
    background: #fafafa;
    color: black;

}


.titulo{
    margin-bottom: 10%;
    
}

.opciones p{
    background: #ffa02a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

p.p1{
    position: absolute;
    top: 250px;
    left: 100px;
    width: 100px;
}

p.p2{
    width: 100px;
    position: relative;
    top: 105px;
    right: 100%;
}

#si{
    background: #fafafa;
    box-shadow: 2px 6px 16px 9px rgb(235 66 117 / 10%);
    border-radius: 20px;
    left: -5px;
    position: relative;
    top: -50%;
    color: black;
    padding: 30px;
    display: none;
}

#si{
    box-shadow: 2px 6px 20px 20px rgb(104 31 57 / 26%);
}

h2{
    font-family: monospace;
    font-size: 25px;
}